# Connecting MySQL Database to Jupyter Notebooks

### Step 1. Download mysql-connector-python 
You can do this through commands such as: pip install mysql-connector-python 

### Step 2. Connect to your database
Add your password and uncomment out the others

In [2]:
import pandas as pd
import mysql.connector

db = mysql.connector.connect(
    user="root",
    password="{Password}", #angy, comment/un-comment for yours
    # password = "",
    host="localhost",
    port = 3306,
    database = 'rideshare'
)

#### Checking connection

In [3]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002BE75629E80>

#### Setting cursor that will allow us to execute commands like in MySQL queries

In [4]:
cursor = db.cursor()

#### Listing all tables in current database = rideshare

In [5]:
cursor.execute("SHOW TABLES")
for table in [tables[0] for tables in cursor.fetchall()]:
    print(table)

april_green
april_yellow
february_green
february_yellow
jan_green_one_rider
jan_green_two_rider
january_green
january_yellow
june_green
june_yellow
march_green
march_yellow
may_green
may_yellow
testing_table

#### Selecting the january green taxi data that was split with passenger count = 1

In [6]:
jan_green_one_rider = pd.read_sql("select * from jan_green_one_rider", db);

In [7]:
jan_green_one_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,14,2014-01-01 00:00:07,2014-01-01 00:08:28,-73.916992,40.771004,-73.888550,40.745453,1,2.52
1,16,2014-01-01 00:00:13,2014-01-01 00:07:26,-73.844109,40.721107,-73.816330,40.714375,1,1.66
2,17,2014-01-01 00:00:13,2014-01-01 00:18:35,-73.911644,40.767956,-73.946960,40.751373,1,2.66
3,18,2014-01-01 00:00:16,2014-01-01 00:04:05,-73.954727,40.800072,-73.946892,40.813335,1,1.02
4,19,2014-01-01 00:00:16,2014-01-01 00:08:32,-73.924431,40.743668,-73.934021,40.736256,1,1.10

In [8]:
jan_green_one_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,655733.000000,655733.000000,655733.000000,655733.000000,655733.000000,655733.0,655733.000000
mean,403964.444509,-73.929338,40.768330,-73.930191,40.764482,1.0,2.801951
std,231990.649738,0.041573,0.056830,0.050029,0.057865,0.0,2.828160
min,14.000000,-75.090698,39.938019,-75.090698,39.938019,1.0,0.000000
25%,202612.000000,-73.955147,40.721317,-73.962837,40.724487,1.0,1.030000
50%,403106.000000,-73.940376,40.766766,-73.940834,40.763718,1.0,1.860000
75%,605076.000000,-73.908745,40.810314,-73.903275,40.807701,1.0,3.600000
max,803852.000000,-72.633492,41.620792,-72.633492,41.620815,1.0,115.610000