# Connecting MySQL Database to Jupyter Notebooks

### Step 1. Download mysql-connector-python 
You can do this through commands such as: pip install mysql-connector-python 

### Step 2. Connect to your database
Add your password and uncomment out the others

In [1]:
import pandas as pd
import mysql.connector

db = mysql.connector.connect(
    user="root",
    password="{Password}", #angy, comment/un-comment for yours
    #password = "6041",
    host="localhost",
    port = 3306,
    database = 'rideshare'
)

#### Checking connection

In [2]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001AF86D82670>

#### Setting cursor that will allow us to execute commands like in MySQL queries

In [3]:
cursor = db.cursor()

### Step 3. Import Tables

#### Listing all tables in current database = rideshare

In [4]:
cursor.execute("SHOW TABLES")
for table in [tables[0] for tables in cursor.fetchall()]:
    print(table)

april_green
april_yellow
february_green
february_yellow
jan_green_one_rider
jan_green_two_rider
january_green
january_yellow
june_green
june_yellow
march_green
march_yellow
may_green
may_yellow

#### Selecting the january green taxi data that was split with passenger count = 1

In [5]:
jan_green_one_rider = pd.read_sql("select * from jan_green_one_rider", db);

In [6]:
jan_green_one_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,14,2014-01-01 00:00:07,2014-01-01 00:08:28,-73.916992,40.771004,-73.888550,40.745453,1,2.52
1,16,2014-01-01 00:00:13,2014-01-01 00:07:26,-73.844109,40.721107,-73.816330,40.714375,1,1.66
2,17,2014-01-01 00:00:13,2014-01-01 00:18:35,-73.911644,40.767956,-73.946960,40.751373,1,2.66
3,18,2014-01-01 00:00:16,2014-01-01 00:04:05,-73.954727,40.800072,-73.946892,40.813335,1,1.02
4,19,2014-01-01 00:00:16,2014-01-01 00:08:32,-73.924431,40.743668,-73.934021,40.736256,1,1.10

In [7]:
jan_green_one_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,640964.000000,640964.000000,640964.000000,640964.000000,640964.000000,640964.0,640964.000000
mean,403753.981295,-73.929510,40.768245,-73.930421,40.764315,1.0,2.866513
std,232045.540272,0.041355,0.056710,0.049958,0.057734,0.0,2.828025
min,14.000000,-74.331802,40.552734,-74.478737,40.441864,1.0,0.010000
25%,202493.750000,-73.955269,40.721291,-73.963234,40.724201,1.0,1.090000
50%,403116.500000,-73.940575,40.766838,-73.941170,40.763699,1.0,1.900000
75%,604872.250000,-73.909353,40.810234,-73.903580,40.807499,1.0,3.660000
max,803852.000000,-72.633492,41.183037,-72.633492,41.367435,1.0,115.610000

In [8]:
jan_green_one_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

##### Total distance

In [9]:
print(round(jan_green_one_rider['trip_distance'].sum()), "total miles for ONE RIDER green taxi data in january 2014 from NYC")

1837331 total miles for ONE RIDER green taxi data in january 2014 from NYC

#### Selecting the january green taxi data that was split with passenger count = 2

In [10]:
jan_green_two_rider = pd.read_sql("select * from jan_green_two_rider", db);

In [11]:
jan_green_two_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,24,2014-01-01 00:00:43,2014-01-01 00:07:44,-73.924568,40.861614,-73.942627,40.821888,2,3.10
1,34,2014-01-01 00:01:05,2014-01-01 00:14:43,-73.929337,40.703571,-73.957573,40.729713,2,3.30
2,36,2014-01-01 00:01:09,2014-01-01 00:03:59,-73.981842,40.666687,-73.985321,40.662525,2,0.30
3,44,2014-01-01 00:01:36,2014-01-01 00:12:24,-73.953888,40.806480,-73.937546,40.797661,2,1.21
4,67,2014-01-01 00:02:50,2014-01-01 00:05:51,-73.925217,40.761761,-73.917320,40.758137,2,0.51

In [12]:
jan_green_two_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,56464.000000,56464.000000,56464.000000,56464.000000,56464.000000,56464.0,56464.000000
mean,391011.861717,-73.930385,40.754977,-73.930964,40.752764,2.0,3.011972
std,232746.447478,0.043352,0.055280,0.051819,0.056788,0.0,2.908302
min,24.000000,-74.079437,40.573067,-74.484711,40.324463,2.0,0.010000
25%,189143.750000,-73.957954,40.713748,-73.966669,40.712924,2.0,1.130000
50%,397935.500000,-73.942066,40.747704,-73.942165,40.750050,2.0,2.050000
75%,592494.250000,-73.904423,40.804214,-73.900877,40.792474,2.0,3.900000
max,803851.000000,-73.247894,40.972569,-73.192268,41.233383,2.0,59.800000

In [13]:
jan_green_two_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

##### Total distance

In [14]:
print(round(jan_green_two_rider['trip_distance'].sum()), "total miles for TWO RIDER green taxi data in january 2014 from NYC")

170068 total miles for TWO RIDER green taxi data in january 2014 from NYC

### Algorithm?

#### Function to get distance between coordinates

In [15]:
import geopy.distance

def get_distance(lat_origin, lon_origin, lat_end, lon_end):
    coords_1 = (lat_origin, lon_origin)
    coords_2 = (lat_end, lon_end)
    
    distance = geopy.distance.distance(coords_1, coords_2).mi
    #print("Distance: ", distance, " mi")
    return distance

get_distance(52.2296756, 21.0122287,52.406374, 16.9251681)

173.5818455248231

In [16]:
def time_difference(time_1, time_2):
    elapsedTime = time_2 - time_1
    #print("Elapsed time: ", elapsedTime)
    #print("Total seconds: ", elapsedTime.total_seconds())
    
    return (elapsedTime.total_seconds())

time_difference(jan_green_two_rider['pickup_datetime'][0], jan_green_two_rider['dropoff_datetime'][0])

421.0

In [17]:
def add_speed_to_trip(trip):
    time_1 = trip['pickup_datetime']
    time_2 = trip['dropoff_datetime']

    distance = trip['trip_distance']
    time = time_difference(time_1, time_2)/3600
    speed = distance/time
    
    #print("Speed: ", speed, "mi/hr")
    return speed

In [18]:
jan_green_two_rider['speed'] = jan_green_two_rider.apply(add_speed_to_trip, axis = 1)

In [19]:
jan_green_two_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,speed
0,24,2014-01-01 00:00:43,2014-01-01 00:07:44,-73.924568,40.861614,-73.942627,40.821888,2,3.10,26.508314
1,34,2014-01-01 00:01:05,2014-01-01 00:14:43,-73.929337,40.703571,-73.957573,40.729713,2,3.30,14.523227
2,36,2014-01-01 00:01:09,2014-01-01 00:03:59,-73.981842,40.666687,-73.985321,40.662525,2,0.30,6.352941
3,44,2014-01-01 00:01:36,2014-01-01 00:12:24,-73.953888,40.806480,-73.937546,40.797661,2,1.21,6.722222
4,67,2014-01-01 00:02:50,2014-01-01 00:05:51,-73.925217,40.761761,-73.917320,40.758137,2,0.51,10.143646

In [20]:
jan_green_one_rider['speed'] = jan_green_one_rider.apply(add_speed_to_trip, axis = 1)

In [21]:
jan_green_one_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,speed
0,14,2014-01-01 00:00:07,2014-01-01 00:08:28,-73.916992,40.771004,-73.888550,40.745453,1,2.52,18.107784
1,16,2014-01-01 00:00:13,2014-01-01 00:07:26,-73.844109,40.721107,-73.816330,40.714375,1,1.66,13.801386
2,17,2014-01-01 00:00:13,2014-01-01 00:18:35,-73.911644,40.767956,-73.946960,40.751373,1,2.66,8.689655
3,18,2014-01-01 00:00:16,2014-01-01 00:04:05,-73.954727,40.800072,-73.946892,40.813335,1,1.02,16.034934
4,19,2014-01-01 00:00:16,2014-01-01 00:08:32,-73.924431,40.743668,-73.934021,40.736256,1,1.10,7.983871

In [22]:
list_tuples = [(23,12), (1,3)]

def add_tuple(trip_combo):
    
    x, y = trip_combo
    print(x)
    print(y)
    print(list_tuples)
    
    for pair in list_tuples:
        print(pair)
        if x in pair:
            return True
        if y in pair:
            return True
    
    return False


print(add_tuple((14,23)))

14
23
[(23, 12), (1, 3)]
(23, 12)
True

In [26]:
def calcSequence(p1_lat, p1_long, p2_lat, p2_long, p3_lat, p3_long, p4_lat, p4_long, speed, trip1_pu_time, trip2_pu_time, 
trip1_do_time, trip2_do_time, delay):

    ## p1 - p2 - p3 - p4 / point1 - point2 - point3 - point4
    #within 5 minutes before -2 pickup, and withing 5minutes of after p3 and p4 dropoff

    #Keeps track of the total distance everytime distance is added
    totalDistance = 0

    # distance between o1 and o2  
    distance = get_distance(p1_lat,p1_long,p2_lat,p2_long)            
    # time it will take to go from o1 to o2
    time = speed/distance            
    # time is in hours so convert to minutes to seconds
    time_seconds = time * 60 * 60                       
    # delay in seconds
    delay_seconds = delay * 60            
    # trip 2 pickupd time range edge

    # [trip2_pickup_edge, trip2_pickup]  
    # [12:55 pm, 1:00 pm]
    # trip1_pickup + time seconds = some time that needs to fall in this range            
    if (trip1_pu_time + time_seconds >= (trip2_pu_time - delay_seconds)) or (trip1_pu_time + time_seconds <= trip2_pu_time):
        # Get the trip1 drop off edge
        # p2 - p3
        totalDistance += distance
        distance = get_distance(p2_lat,p2_long,p3_lat,p3_long)

        # time it will take to go from o1 to o2
        time = speed/distance            
        # time is in hours so convert to minutes to seconds
        time_seconds = time * 60 * 60  
        if (trip2_pickup + time_seconds >= (trip1_do_time)) or (trip2_pu_time + time_seconds <= trip1_do_time + delay_seconds):
            totalDistance += distance
            distance = get_distance(p3_lat,p3_long,p4_lat,p4_long)   
            # time it will take to go from o1 to o2
            time = speed/distance            
            # time is in hours so convert to minutes to seconds
            time_seconds = time * 60 * 60  
            if (trip1_do_time + time_seconds >= (trip2_do_time)) or (trip1_do_time + time_seconds <= trip2_do_time  + delay_seconds):
                totalDistance += distance
                return totalDistance
    return -1

# get time range permissible for each origin and dropoff
# start at o1 check if taxi can make it to o2 within delay

# i.e. if 5 minute delay then make it within 5 min before o2
# then have to make it within 5 min after d1 and d2 drop off

# calculate savings if trip is permissible
# savings = [distance(trip1) + distance(trip2)] - distance(combined trip1 & trip2)

def prototype_algorithm(single_trips, double_trips, delay):
    # columns- 'ride_id', 'pickup_datetime', 'dropoff_datetime', 'pickup_longitude',
    #          'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
    #          'passenger_count', 'trip_distance', 'speed'
    combined_trips = {}

    for trip1 in single_trips:   
        
        for trip2 in double_trips:
            # average speed of two trips
            speed3 = (trip1['speed'] + trip2['speed'])/2

            o1_lon = trip1['pickup_longitude']
            o1_lat = trip1['pickup_latitude']
            o2_lon = trip2['pickup_longitude']
            o2_lat = trip2['pickup_latitude']

            d1_lon = trip1['pickup_longitude']
            d1_lat = trip1['pickup_latitude']
            d2_lon = trip2['pickup_longitude']
            d2_lat = trip2['pickup_latitude']


            pu1 = trip1['pickup_datetime'].total_seconds()  
            pu2 = trip2['pickup_datetime'].total_seconds() 


            do1 = trip1['dropoff_datetime'].total_seconds()
            do2 = trip2['dropoff_datetime'].total_seconds() 


            # o1 - o2 - d1 - d2
            seq1 = calcSequence(o1_lat, o1_long, o2_lat, o2_long, d1_lat, d1_long, d2_lat, d2_long, speed3, pu1, pu2, du1, du2, delay)

            # o1 - o2 - d2 - d1
            seq2 = calcSequence(o1_lat, o1_long, o2_lat, o2_long, d2_lat, d2_long, d1_lat, d1_long, speed3, pu1, pu2, du1, du2, delay)

            # o2 - o1 - d2 - d1
            seq3 = calcSequence( o2_lat, o2_long, o1_lat, o1_long, d2_lat, d2_long, d1_lat, d1_long, speed3, pu1, pu2, du1, du2, delay)

            # o2 - o1 - d1 - d2
            seq4 = calcSequence( o2_lat, o2_long, o1_lat, o1_long, d1_lat, d1_long, d2_lat, d2_long, speed3, pu1, pu2, du1, du2, delay)

            totalDistance = trip1['trip_distance'] + trip2['trip_distance']

            if seq1 < seq2 and seq1 < seq3 and seq1 < seq4 and seq1 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq1
            elif seq2 < seq1 and seq2 < seq3 and seq2 < seq4 and seq2 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq2   
            elif seq3 < seq1 and seq3 < seq4 and seq3 < seq2 and seq3 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq3 
            elif seq4 < seq1 and seq4 < seq2 and seq4 < seq3 and seq4 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq4     

    return combined_trips

SyntaxError: invalid syntax (<ipython-input-26-651e76dbbb46>, line 99)