# Connecting MySQL Database to Jupyter Notebooks

### Step 1. Download mysql-connector-python 
You can do this through commands such as: pip install mysql-connector-python 

### Step 2. Connect to your database
Add your password and uncomment out the others

In [1]:
import pandas as pd
import mysql.connector

db = mysql.connector.connect(
    user="root",
    #password="{Password}", #angy, comment/un-comment for yours
    password = "ilo5517WD",
    host="localhost",
    port = 3306,
    database = 'rideshare'
)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

#### Checking connection

In [ ]:
print(db)

#### Setting cursor that will allow us to execute commands like in MySQL queries

In [ ]:
cursor = db.cursor()

### Step 3. Import Tables

#### Listing all tables in current database = rideshare

In [ ]:
cursor.execute("SHOW TABLES")
for table in [tables[0] for tables in cursor.fetchall()]:
    print(table)

#### Selecting the january green taxi data that was split with passenger count = 1

In [ ]:
jan_green_one_rider = pd.read_sql("select * from jan_green_one_rider", db);

In [ ]:
jan_green_one_rider.head()

In [ ]:
jan_green_one_rider.describe()

In [ ]:
jan_green_one_rider.dtypes

##### Total distance

In [ ]:
print(round(jan_green_one_rider['trip_distance'].sum()), "total miles for ONE RIDER green taxi data in january 2014 from NYC")

#### Selecting the january green taxi data that was split with passenger count = 2

In [ ]:
jan_green_two_rider = pd.read_sql("select * from jan_green_two_rider", db);

In [ ]:
jan_green_two_rider.head()

In [ ]:
jan_green_two_rider.describe()

In [ ]:
jan_green_two_rider.dtypes

##### Total distance

In [ ]:
print(round(jan_green_two_rider['trip_distance'].sum()), "total miles for TWO RIDER green taxi data in january 2014 from NYC")

### Algorithm?

#### Function to get distance between coordinates

In [ ]:
import geopy.distance

def get_distance(lat_origin, lon_origin, lat_end, lon_end):
    coords_1 = (lat_origin, lon_origin)
    coords_2 = (lat_end, lon_end)
    
    distance = geopy.distance.distance(coords_1, coords_2).mi
    #print("Distance: ", distance, " mi")
    return distance

get_distance(52.2296756, 21.0122287,52.406374, 16.9251681)

In [ ]:
def time_difference(time_1, time_2):
    elapsedTime = time_2 - time_1
    #print("Elapsed time: ", elapsedTime)
    #print("Total seconds: ", elapsedTime.total_seconds())
    
    return (elapsedTime.total_seconds())

time_difference(jan_green_two_rider['pickup_datetime'][0], jan_green_two_rider['dropoff_datetime'][0])

In [ ]:
def add_speed_to_trip(trip):
    time_1 = trip['pickup_datetime']
    time_2 = trip['dropoff_datetime']

    distance = trip['trip_distance']
    time = time_difference(time_1, time_2)/3600
    speed = distance/time
    
    #print("Speed: ", speed, "mi/hr")
    return speed

In [ ]:
jan_green_two_rider['speed'] = jan_green_two_rider.apply(add_speed_to_trip, axis = 1)

In [ ]:
jan_green_two_rider.head()

In [ ]:
jan_green_one_rider['speed'] = jan_green_one_rider.apply(add_speed_to_trip, axis = 1)

In [ ]:
jan_green_one_rider.head()

In [ ]:
list_tuples = [(23,12), (1,3)]

def add_tuple(trip_combo):
    
    x, y = trip_combo
    print(x)
    print(y)
    print(list_tuples)
    
    for pair in list_tuples:
        print(pair)
        if x in pair:
            return True
        if y in pair:
            return True
    
    return False


print(add_tuple((14,23)))

In [ ]:
def calcSequence(p1_lat, p1_long, p2_lat, p2_long, p3_lat, p3_long, p4_lat, p4_long, speed, trip1_pu_time, trip2_pu_time, 
trip1_do_time, trip2_do_time, delay):

    ## p1 - p2 - p3 - p4 / point1 - point2 - point3 - point4
    #within 5 minutes before -2 pickup, and withing 5minutes of after p3 and p4 dropoff

    #Keeps track of the total distance everytime distance is added
    totalDistance = 0

    # distance between o1 and o2  
    distance = get_distance(p1_lat,p1_long,p2_lat,p2_long)            
    # time it will take to go from o1 to o2
    time = speed/distance            
    # time is in hours so convert to minutes to seconds
    time_seconds = time * 60 * 60                       
    # delay in seconds
    delay_seconds = delay * 60            
    # trip 2 pickupd time range edge

    # [trip2_pickup_edge, trip2_pickup]  
    # [12:55 pm, 1:00 pm]
    # trip1_pickup + time seconds = some time that needs to fall in this range            
    if (trip1_pu_time + time_seconds >= (trip2_pu_time - delay_seconds)) or (trip1_pu_time + time_seconds <= trip2_pu_time):
        # Get the trip1 drop off edge
        # p2 - p3
        totalDistance += distance
        distance = get_distance(p2_lat,p2_long,p3_lat,p3_long)

        # time it will take to go from o1 to o2
        time = speed/distance            
        # time is in hours so convert to minutes to seconds
        time_seconds = time * 60 * 60  
        if (trip2_pickup + time_seconds >= (trip1_do_time)) or (trip2_pu_time + time_seconds <= trip1_do_time + delay_seconds):
            totalDistance += distance
            distance = get_distance(p3_lat,p3_long,p4_lat,p4_long)   
            # time it will take to go from o1 to o2
            time = speed/distance            
            # time is in hours so convert to minutes to seconds
            time_seconds = time * 60 * 60  
            if (trip1_do_time + time_seconds >= (trip2_do_time)) or (trip1_do_time + time_seconds <= trip2_do_time  + delay_seconds):
                totalDistance += distance
                return totalDistance
    return -1

# get time range permissible for each origin and dropoff
# start at o1 check if taxi can make it to o2 within delay

# i.e. if 5 minute delay then make it within 5 min before o2
# then have to make it within 5 min after d1 and d2 drop off

# calculate savings if trip is permissible
# savings = [distance(trip1) + distance(trip2)] - distance(combined trip1 & trip2)

def prototype_algorithm(single_trips, double_trips, delay):
    # columns- 'ride_id', 'pickup_datetime', 'dropoff_datetime', 'pickup_longitude',
    #          'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
    #          'passenger_count', 'trip_distance', 'speed'
    combined_trips = {}

    for index, trip1 in single_trips.iterrows():  

        for index, trip2 in double_trips.iterrows():
            # average speed of two trips
            speed3 = (trip1['speed'] + trip2['speed'])/2

            o1_lon = trip1['pickup_longitude']
            o1_lat = trip1['pickup_latitude']
            o2_lon = trip2['pickup_longitude']
            o2_lat = trip2['pickup_latitude']

            d1_lon = trip1['pickup_longitude']
            d1_lat = trip1['pickup_latitude']
            d2_lon = trip2['pickup_longitude']
            d2_lat = trip2['pickup_latitude']


            pu1 = trip1['pickup_datetime'].total_seconds()  
            pu2 = trip2['pickup_datetime'].total_seconds() 


            do1 = trip1['dropoff_datetime'].total_seconds()
            do2 = trip2['dropoff_datetime'].total_seconds() 


            # o1 - o2 - d1 - d2
            seq1 = calcSequence(o1_lat, o1_long, o2_lat, o2_long, d1_lat, d1_long, d2_lat, d2_long, speed3, pu1, pu2, du1, du2, delay)

            # o1 - o2 - d2 - d1
            seq2 = calcSequence(o1_lat, o1_long, o2_lat, o2_long, d2_lat, d2_long, d1_lat, d1_long, speed3, pu1, pu2, du1, du2, delay)

            # o2 - o1 - d2 - d1
            seq3 = calcSequence( o2_lat, o2_long, o1_lat, o1_long, d2_lat, d2_long, d1_lat, d1_long, speed3, pu1, pu2, du1, du2, delay)

            # o2 - o1 - d1 - d2
            seq4 = calcSequence( o2_lat, o2_long, o1_lat, o1_long, d1_lat, d1_long, d2_lat, d2_long, speed3, pu1, pu2, du1, du2, delay)

            totalDistance = trip1['trip_distance'] + trip2['trip_distance']
            
            
            if seq1 < seq2 and seq1 < seq3 and seq1 < seq4 and seq1 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq1
            elif seq2 < seq1 and seq2 < seq3 and seq2 < seq4 and seq2 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq2   
            elif seq3 < seq1 and seq3 < seq4 and seq3 < seq2 and seq3 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq3 
            elif seq4 < seq1 and seq4 < seq2 and seq4 < seq3 and seq4 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq4     

    return combined_trips