# Connecting MySQL Database to Jupyter Notebooks

### Step 1. Download mysql-connector-python 
You can do this through commands such as: pip install mysql-connector-python 

### Step 2. Connect to your database
Add your password and uncomment out the others

In [1]:
import pandas as pd
import mysql.connector

db = mysql.connector.connect(
    user="root",
    password="{Password}", #angy, comment/un-comment for yours
    # password = "6041", # Eldin 
    host="localhost",
    port = 3306,
    database = 'rideshare'
)

#### Checking connection

In [2]:
print(db)

<mysql.connector.connection.MySQLConnection object at 0x000001F88E546430>

#### Setting cursor that will allow us to execute commands like in MySQL queries

In [3]:
cursor = db.cursor()

### Step 3. Import Tables

#### Listing all tables in current database = rideshare

In [4]:
cursor.execute("SHOW TABLES")
for table in [tables[0] for tables in cursor.fetchall()]:
    print(table)

april_green
february_green
jan_green_one_rider
jan_green_two_rider
january_green
june_green
march_green
may_green

#### Selecting the january green taxi data that was split with passenger count = 1

In [5]:
jan_green_one_rider = pd.read_sql("select * from jan_green_one_rider", db);

In [6]:
jan_green_one_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,14,2014-01-01 00:00:07,2014-01-01 00:08:28,-73.916992,40.771004,-73.888550,40.745453,1,2.52
1,16,2014-01-01 00:00:13,2014-01-01 00:07:26,-73.844109,40.721107,-73.816330,40.714375,1,1.66
2,17,2014-01-01 00:00:13,2014-01-01 00:18:35,-73.911644,40.767956,-73.946960,40.751373,1,2.66
3,18,2014-01-01 00:00:16,2014-01-01 00:04:05,-73.954727,40.800072,-73.946892,40.813335,1,1.02
4,19,2014-01-01 00:00:16,2014-01-01 00:08:32,-73.924431,40.743668,-73.934021,40.736256,1,1.10

In [7]:
jan_green_one_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,640968.000000,640968.000000,640968.000000,640968.000000,640968.000000,640968.0,640968.000000
mean,403754.461653,-73.929511,40.768245,-73.930421,40.764315,1.0,2.866495
std,232045.581650,0.041355,0.056710,0.049958,0.057734,0.0,2.828024
min,14.000000,-74.331802,40.552734,-74.478737,40.441864,1.0,0.010000
25%,202493.750000,-73.955269,40.721291,-73.963234,40.724201,1.0,1.090000
50%,403117.500000,-73.940575,40.766838,-73.941170,40.763699,1.0,1.900000
75%,604873.500000,-73.909355,40.810234,-73.903580,40.807499,1.0,3.660000
max,803852.000000,-72.633492,41.183037,-72.633492,41.367435,1.0,115.610000

In [8]:
jan_green_one_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

##### Total distance

In [9]:
print(round(jan_green_one_rider['trip_distance'].sum()), "total miles for ONE RIDER green taxi data in january 2014 from NYC")

1837332.0 total miles for ONE RIDER green taxi data in january 2014 from NYC

#### Selecting the january green taxi data that was split with passenger count = 2

In [10]:
jan_green_two_rider = pd.read_sql("select * from jan_green_two_rider", db);

In [11]:
jan_green_two_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,24,2014-01-01 00:00:43,2014-01-01 00:07:44,-73.924568,40.861614,-73.942627,40.821888,2,3.10
1,34,2014-01-01 00:01:05,2014-01-01 00:14:43,-73.929337,40.703571,-73.957573,40.729713,2,3.30
2,36,2014-01-01 00:01:09,2014-01-01 00:03:59,-73.981842,40.666687,-73.985321,40.662525,2,0.30
3,44,2014-01-01 00:01:36,2014-01-01 00:12:24,-73.953888,40.806480,-73.937546,40.797661,2,1.21
4,67,2014-01-01 00:02:50,2014-01-01 00:05:51,-73.925217,40.761761,-73.917320,40.758137,2,0.51

In [12]:
jan_green_two_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,56464.000000,56464.000000,56464.000000,56464.000000,56464.000000,56464.0,56464.000000
mean,391011.861717,-73.930385,40.754977,-73.930964,40.752764,2.0,3.011972
std,232746.447478,0.043352,0.055280,0.051819,0.056788,0.0,2.908302
min,24.000000,-74.079437,40.573067,-74.484711,40.324463,2.0,0.010000
25%,189143.750000,-73.957954,40.713748,-73.966669,40.712924,2.0,1.130000
50%,397935.500000,-73.942066,40.747704,-73.942165,40.750050,2.0,2.050000
75%,592494.250000,-73.904423,40.804214,-73.900877,40.792474,2.0,3.900000
max,803851.000000,-73.247894,40.972569,-73.192268,41.233383,2.0,59.800000

In [13]:
jan_green_two_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

##### Total distance

In [14]:
print(round(jan_green_two_rider['trip_distance'].sum()), "total miles for TWO RIDER green taxi data in january 2014 from NYC")

170068.0 total miles for TWO RIDER green taxi data in january 2014 from NYC

### Algorithm?

#### Function to get distance between coordinates

In [15]:
import geopy.distance

def get_distance(lat_origin, lon_origin, lat_end, lon_end):
    coords_1 = (lat_origin, lon_origin)
    coords_2 = (lat_end, lon_end)
    
    distance = geopy.distance.distance(coords_1, coords_2).mi
    #print("Distance: ", distance, " mi")
    return distance

get_distance(52.2296756, 21.0122287,52.406374, 16.9251681)

173.5818455248231

In [16]:
def time_difference(time_1, time_2):
    elapsedTime = time_2 - time_1
    #print("Elapsed time: ", elapsedTime)
    #print("Total seconds: ", elapsedTime.total_seconds())
    
    return (elapsedTime.total_seconds()/3600)

time_difference(jan_green_two_rider['pickup_datetime'][0], jan_green_two_rider['dropoff_datetime'][0])

0.11694444444444445

In [17]:
def add_speed_to_trip(trip):
    time_1 = trip['pickup_datetime']
    time_2 = trip['dropoff_datetime']

    distance = trip['trip_distance']
    time = time_difference(time_1, time_2)
    speed = distance/time
    
    #print("Speed: ", speed, "mi/hr")
    return speed

In [21]:
jan_green_two_rider['speed'] = jan_green_two_rider.apply(add_speed_to_trip, axis = 1)

In [22]:
jan_green_two_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,speed
0,24,2014-01-01 00:00:43,2014-01-01 00:07:44,-73.924568,40.861614,-73.942627,40.821888,2,3.10,26.508314
1,34,2014-01-01 00:01:05,2014-01-01 00:14:43,-73.929337,40.703571,-73.957573,40.729713,2,3.30,14.523227
2,36,2014-01-01 00:01:09,2014-01-01 00:03:59,-73.981842,40.666687,-73.985321,40.662525,2,0.30,6.352941
3,44,2014-01-01 00:01:36,2014-01-01 00:12:24,-73.953888,40.806480,-73.937546,40.797661,2,1.21,6.722222
4,67,2014-01-01 00:02:50,2014-01-01 00:05:51,-73.925217,40.761761,-73.917320,40.758137,2,0.51,10.143646

In [23]:
jan_green_one_rider['speed'] = jan_green_one_rider.apply(add_speed_to_trip, axis = 1)

ZeroDivisionError: float division by zero

In [ ]:
jan_green_one_rider.head()