# Connecting MySQL Database to Jupyter Notebooks

### Step 1. Download mysql-connector-python 
You can do this through commands such as: pip install mysql-connector-python 

### Step 2. Connect to your database
Add your password and uncomment out the others

In [84]:
import pandas as pd
import mysql.connector

db = mysql.connector.connect(
    user="root",
    #password="{Password}", #angy, comment/un-comment for yours
    password = "ilo5517WD",
    host="localhost",
    port = 3306,
    database = 'rideshare'
)

#### Checking connection

In [39]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7ffab8658ca0>

#### Setting cursor that will allow us to execute commands like in MySQL queries

In [40]:
cursor = db.cursor()

### Step 3. Import Tables

#### Listing all tables in current database = rideshare

In [41]:
cursor.execute("SHOW TABLES")
for table in [tables[0] for tables in cursor.fetchall()]:
    print(table)

feb_green_one_rider
feb_green_two_rider
green_1_january
green_2_february
green_3_march
green_4_april
green_5_may
green_6_june
jan_green_one_rider
jan_green_two_rider
mar_green_one_rider
mar_green_two_rider
yellow_1_january
yellow_2_february
yellow_3_march
yellow_4_april
yellow_5_may
yellow_6_june

#### Selecting the january green taxi data that was split with passenger count = 1

In [42]:
jan_green_one_rider = pd.read_sql("select * from jan_green_one_rider", db);

In [43]:
jan_green_one_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,14,2014-01-01 00:00:07,2014-01-01 00:08:28,-73.916992,40.771004,-73.888550,40.745453,1,2.52
1,16,2014-01-01 00:00:13,2014-01-01 00:07:26,-73.844109,40.721107,-73.816330,40.714375,1,1.66
2,17,2014-01-01 00:00:13,2014-01-01 00:18:35,-73.911644,40.767956,-73.946960,40.751373,1,2.66
3,18,2014-01-01 00:00:16,2014-01-01 00:04:05,-73.954727,40.800072,-73.946892,40.813335,1,1.02
4,19,2014-01-01 00:00:16,2014-01-01 00:08:32,-73.924431,40.743668,-73.934021,40.736256,1,1.10

In [44]:
jan_green_one_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,640964.000000,640964.000000,640964.000000,640964.000000,640964.000000,640964.0,640964.000000
mean,403753.981295,-73.929510,40.768245,-73.930421,40.764315,1.0,2.866513
std,232045.540272,0.041355,0.056710,0.049958,0.057734,0.0,2.828025
min,14.000000,-74.331802,40.552734,-74.478737,40.441864,1.0,0.010000
25%,202493.750000,-73.955269,40.721291,-73.963234,40.724201,1.0,1.090000
50%,403116.500000,-73.940575,40.766838,-73.941170,40.763699,1.0,1.900000
75%,604872.250000,-73.909353,40.810234,-73.903580,40.807499,1.0,3.660000
max,803852.000000,-72.633492,41.183037,-72.633492,41.367435,1.0,115.610000

In [45]:
jan_green_one_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

##### Total distance

In [46]:
print(round(jan_green_one_rider['trip_distance'].sum()), "total miles for ONE RIDER green taxi data in january 2014 from NYC")

1837331.0 total miles for ONE RIDER green taxi data in january 2014 from NYC

#### Selecting the january green taxi data that was split with passenger count = 2

In [47]:
jan_green_two_rider = pd.read_sql("select * from jan_green_two_rider", db);

In [48]:
jan_green_two_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,24,2014-01-01 00:00:43,2014-01-01 00:07:44,-73.924568,40.861614,-73.942627,40.821888,2,3.10
1,34,2014-01-01 00:01:05,2014-01-01 00:14:43,-73.929337,40.703571,-73.957573,40.729713,2,3.30
2,36,2014-01-01 00:01:09,2014-01-01 00:03:59,-73.981842,40.666687,-73.985321,40.662525,2,0.30
3,44,2014-01-01 00:01:36,2014-01-01 00:12:24,-73.953888,40.806480,-73.937546,40.797661,2,1.21
4,67,2014-01-01 00:02:50,2014-01-01 00:05:51,-73.925217,40.761761,-73.917320,40.758137,2,0.51

In [49]:
jan_green_two_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,56464.000000,56464.000000,56464.000000,56464.000000,56464.000000,56464.0,56464.000000
mean,391011.861717,-73.930385,40.754977,-73.930964,40.752764,2.0,3.011972
std,232746.447478,0.043352,0.055280,0.051819,0.056788,0.0,2.908302
min,24.000000,-74.079437,40.573067,-74.484711,40.324463,2.0,0.010000
25%,189143.750000,-73.957954,40.713748,-73.966669,40.712924,2.0,1.130000
50%,397935.500000,-73.942066,40.747704,-73.942165,40.750050,2.0,2.050000
75%,592494.250000,-73.904423,40.804214,-73.900877,40.792474,2.0,3.900000
max,803851.000000,-73.247894,40.972569,-73.192268,41.233383,2.0,59.800000

In [50]:
jan_green_two_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

##### Total distance

In [51]:
print(round(jan_green_two_rider['trip_distance'].sum()), "total miles for TWO RIDER green taxi data in january 2014 from NYC")

170068.0 total miles for TWO RIDER green taxi data in january 2014 from NYC

#### Selecting the february green taxi data that was split with passenger count = 1

In [52]:
feb_green_one_rider = pd.read_sql("select * from feb_green_one_rider", db);

In [53]:
feb_green_one_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,36,2014-02-01 00:00:02,2014-02-01 00:08:29,-73.959465,40.716217,-73.965782,40.710552,1,1.10
1,40,2014-02-01 00:00:08,2014-02-01 00:15:13,-73.990730,40.694611,-73.957352,40.714481,1,3.50
2,42,2014-02-01 00:00:13,2014-02-01 00:06:56,-73.953674,40.790752,-73.959160,40.780113,1,1.12
3,43,2014-02-01 00:00:24,2014-02-01 00:08:06,-73.944794,40.727329,-73.941681,40.708363,1,1.40
4,44,2014-02-01 00:00:27,2014-02-01 00:19:34,-73.977577,40.678616,-73.988533,40.718513,1,3.36

In [54]:
feb_green_one_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,8.151410e+05,815141.000000,815141.000000,815141.000000,815141.000000,815141.0,815141.000000
mean,5.045571e+05,-73.929019,40.767307,-73.929428,40.764263,1.0,2.846441
std,2.904891e+05,0.041702,0.058114,0.049842,0.059347,0.0,2.776918
min,3.600000e+01,-74.728561,40.294209,-75.989021,39.357197,1.0,0.010000
25%,2.524790e+05,-73.955582,40.719196,-73.961983,40.721554,1.0,1.100000
50%,5.046100e+05,-73.940231,40.765774,-73.939995,40.763062,1.0,1.910000
75%,7.565040e+05,-73.906891,40.810978,-73.902313,40.810101,1.0,3.630000
max,1.005242e+06,-73.054497,41.584133,-72.091438,41.585518,1.0,135.240000

In [55]:
feb_green_one_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

In [56]:
print(round(feb_green_one_rider['trip_distance'].sum()), "total miles for ONE RIDER green taxi data in february 2014 from NYC")

2320251.0 total miles for ONE RIDER green taxi data in february 2014 from NYC

#### Selecting the february green taxi data that was split with passenger count = 2

In [57]:
feb_green_two_rider = pd.read_sql("select * from feb_green_two_rider", db);

In [58]:
feb_green_two_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,38,2014-02-01 00:00:08,2014-02-01 00:20:33,-73.961670,40.714012,-73.917099,40.746384,2,3.88
1,39,2014-02-01 00:00:08,2014-02-01 00:28:26,-73.951134,40.748909,-73.980003,40.657005,2,10.50
2,69,2014-02-01 00:00:59,2014-02-01 00:16:54,-73.960213,40.715313,-73.979050,40.678429,2,4.35
3,126,2014-02-01 00:02:28,2014-02-01 00:30:48,-73.983704,40.676292,-73.983566,40.722137,2,6.00
4,133,2014-02-01 00:02:36,2014-02-01 00:17:17,-73.935623,40.833282,-73.865150,40.920052,2,8.60

In [59]:
feb_green_two_rider.describe

<bound method NDFrame.describe of        ride_id     pickup_datetime    dropoff_datetime  pickup_longitude  \
0           38 2014-02-01 00:00:08 2014-02-01 00:20:33        -73.961670
1           39 2014-02-01 00:00:08 2014-02-01 00:28:26        -73.951134
2           69 2014-02-01 00:00:59 2014-02-01 00:16:54        -73.960213
3          126 2014-02-01 00:02:28 2014-02-01 00:30:48        -73.983704
4          133 2014-02-01 00:02:36 2014-02-01 00:17:17        -73.935623
...        ...                 ...                 ...               ...
71012  1005196 2014-02-28 23:59:10 2014-03-01 00:02:28        -73.951180
71013  1005213 2014-02-28 23:59:22 2014-03-01 00:07:17        -73.957802
71014  1005215 2014-02-28 23:59:23 2014-03-01 00:05:58        -73.953285
71015  1005225 2014-02-28 23:59:32 2014-03-01 00:13:29        -73.939301
71016  1005237 2014-02-28 23:59:53 2014-03-01 00:24:48        -73.956131

       pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count  \
0            40.714012         -73.917099         40.746384                2
1            40.748909         -73.980003         40.657005                2
2            40.715313         -73.979050         40.678429                2
3            40.676292         -73.983566         40.722137                2
4            40.833282         -73.865150         40.920052                2
...                ...                ...               ...              ...
71012        40.810101         -73.961258         40.801956                2
71013        40.713963         -73.942932         40.708122                2
71014        40.728077         -73.959717         40.717159                2
71015        40.816162         -73.990555         40.769871                2
71016        40.719406         -73.952843         40.800018                2

       trip_distance
0               3.88
1              10.50
2               4.35
3               6.00
4               8.60
...              ...
71012           0.97
71013           1.38
71014           1.06
71015           5.64
71016          11.10

[71017 rows x 9 columns]>

In [60]:
feb_green_two_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

In [61]:
print(round(feb_green_two_rider['trip_distance'].sum()), "total miles for TWO RIDER green taxi data in february 2014 from NYC")

211835.0 total miles for TWO RIDER green taxi data in february 2014 from NYC

#### Selecting the march green taxi data that was split with passenger count = 1

In [73]:
mar_green_one_rider = pd.read_sql("select * from mar_green_one_rider", db);

In [74]:
mar_green_one_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,15,2014-03-01 00:00:00,2014-03-01 00:11:44,-73.807571,40.700371,-73.759422,40.704967,1,3.14
1,34,2014-03-01 00:00:01,2014-03-01 00:04:27,-73.951355,40.809841,-73.937584,40.804348,1,0.89
2,35,2014-03-01 00:00:03,2014-03-01 00:39:11,-73.958801,40.716785,-73.908257,40.698792,1,7.05
3,36,2014-03-01 00:00:03,2014-03-01 00:14:32,-73.938881,40.681664,-73.956787,40.713566,1,3.30
4,37,2014-03-01 00:00:03,2014-03-01 00:08:42,-73.941376,40.818493,-73.935242,40.796005,1,2.38

In [75]:
mar_green_one_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,1.058404e+06,1.058404e+06,1.058404e+06,1.058404e+06,1.058404e+06,1058404.0,1.058404e+06
mean,6.467195e+05,-7.393054e+01,4.076543e+01,-7.393090e+01,4.076220e+01,1.0,2.923363e+00
std,3.729006e+05,4.134149e-02,5.825813e-02,4.988082e-02,5.936801e-02,0.0,2.838458e+00
min,1.500000e+01,-7.436404e+01,4.031835e+01,-7.582375e+01,3.958759e+01,1.0,1.000000e-02
25%,3.236348e+05,-7.395638e+01,4.071749e+01,-7.396370e+01,4.071945e+01,1.0,1.100000e+00
50%,6.474105e+05,-7.394131e+01,4.076383e+01,-7.394112e+01,4.076123e+01,1.0,1.980000e+00
75%,9.706468e+05,-7.391082e+01,4.081035e+01,-7.390433e+01,4.080824e+01,1.0,3.740000e+00
max,1.293471e+06,-7.304129e+01,4.225634e+01,-7.241040e+01,4.225480e+01,1.0,1.012600e+02

In [76]:
mar_green_one_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

In [77]:
print(round(mar_green_one_rider['trip_distance'].sum()), "total miles for ONE RIDER green taxi data in march 2014 from NYC")

3094100.0 total miles for ONE RIDER green taxi data in march 2014 from NYC

#### Selecting the march green taxi data that was split with passenger count = 2

In [78]:
mar_green_two_rider = pd.read_sql("select * from mar_green_two_rider", db);

In [79]:
mar_green_two_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
0,41,2014-03-01 00:00:07,2014-03-01 00:11:19,-73.964630,40.712296,-73.947220,40.721889,2,1.50
1,53,2014-03-01 00:00:16,2014-03-01 00:18:50,-73.917015,40.761211,-73.850166,40.725178,2,7.17
2,62,2014-03-01 00:00:25,2014-03-01 00:05:02,-73.941803,40.798351,-73.941078,40.790031,2,0.77
3,66,2014-03-01 00:00:28,2014-03-01 00:04:31,-73.962364,40.682636,-73.961952,40.689232,2,0.70
4,92,2014-03-01 00:01:05,2014-03-01 00:04:24,-73.925407,40.761841,-73.935768,40.768932,2,0.90

In [80]:
mar_green_two_rider.describe()

,ride_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance
count,9.111900e+04,91119.000000,91119.000000,91119.000000,91119.000000,91119.0,91119.000000
mean,6.524365e+05,-73.932978,40.752387,-73.933037,40.750524,2.0,3.088483
std,3.772053e+05,0.042651,0.056229,0.051104,0.057751,0.0,2.969012
min,4.100000e+01,-74.438080,40.366768,-74.656998,40.354107,2.0,0.010000
25%,3.275905e+05,-73.959290,40.709984,-73.968376,40.708351,2.0,1.170000
50%,6.512600e+05,-73.944229,40.746983,-73.943207,40.748341,2.0,2.100000
75%,9.737920e+05,-73.911263,40.803995,-73.904236,40.792187,2.0,4.000000
max,1.293468e+06,-73.559784,41.034164,-73.040619,41.056427,2.0,87.660000

In [81]:
mar_green_two_rider.dtypes

ride_id                       int64
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
pickup_longitude            float64
pickup_latitude             float64
dropoff_longitude           float64
dropoff_latitude            float64
passenger_count               int64
trip_distance               float64
dtype: object

In [82]:
print(round(mar_green_two_rider['trip_distance'].sum()), "total miles for TWO RIDER green taxi data in march 2014 from NYC")

281419.0 total miles for TWO RIDER green taxi data in march 2014 from NYC

# Algorithm with single and double riders

#### Function to get distance between coordinates

In [15]:
import geopy.distance

def get_distance(lat_origin, lon_origin, lat_end, lon_end):
    coords_1 = (lat_origin, lon_origin)
    coords_2 = (lat_end, lon_end)
    
    distance = geopy.distance.distance(coords_1, coords_2).mi
    #print("Distance: ", distance, " mi")
    return distance

get_distance(52.2296756, 21.0122287,52.406374, 16.9251681)

173.5818455248231

In [16]:
def time_difference(time_1, time_2):
    elapsedTime = time_2 - time_1
    #print("Elapsed time: ", elapsedTime)
    #print("Total seconds: ", elapsedTime.total_seconds())
    
    return (elapsedTime.total_seconds())

time_difference(jan_green_two_rider['pickup_datetime'][0], jan_green_two_rider['dropoff_datetime'][0])

421.0

In [17]:
def add_speed_to_trip(trip):
    time_1 = trip['pickup_datetime']
    time_2 = trip['dropoff_datetime']

    distance = trip['trip_distance']
    time = time_difference(time_1, time_2)/3600
    speed = distance/time
    
    #print("Speed: ", speed, "mi/hr")
    return speed

In [18]:
jan_green_two_rider['speed'] = jan_green_two_rider.apply(add_speed_to_trip, axis = 1)

In [19]:
jan_green_two_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,speed
0,24,2014-01-01 00:00:43,2014-01-01 00:07:44,-73.924568,40.861614,-73.942627,40.821888,2,3.10,26.508314
1,34,2014-01-01 00:01:05,2014-01-01 00:14:43,-73.929337,40.703571,-73.957573,40.729713,2,3.30,14.523227
2,36,2014-01-01 00:01:09,2014-01-01 00:03:59,-73.981842,40.666687,-73.985321,40.662525,2,0.30,6.352941
3,44,2014-01-01 00:01:36,2014-01-01 00:12:24,-73.953888,40.806480,-73.937546,40.797661,2,1.21,6.722222
4,67,2014-01-01 00:02:50,2014-01-01 00:05:51,-73.925217,40.761761,-73.917320,40.758137,2,0.51,10.143646

In [20]:
jan_green_one_rider['speed'] = jan_green_one_rider.apply(add_speed_to_trip, axis = 1)

In [21]:
jan_green_one_rider.head()

,ride_id,pickup_datetime,dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,speed
0,14,2014-01-01 00:00:07,2014-01-01 00:08:28,-73.916992,40.771004,-73.888550,40.745453,1,2.52,18.107784
1,16,2014-01-01 00:00:13,2014-01-01 00:07:26,-73.844109,40.721107,-73.816330,40.714375,1,1.66,13.801386
2,17,2014-01-01 00:00:13,2014-01-01 00:18:35,-73.911644,40.767956,-73.946960,40.751373,1,2.66,8.689655
3,18,2014-01-01 00:00:16,2014-01-01 00:04:05,-73.954727,40.800072,-73.946892,40.813335,1,1.02,16.034934
4,19,2014-01-01 00:00:16,2014-01-01 00:08:32,-73.924431,40.743668,-73.934021,40.736256,1,1.10,7.983871

In [22]:
list_tuples = [(23,12), (1,3)]

def add_tuple(trip_combo):
    
    x, y = trip_combo
    print(x)
    print(y)
    print(list_tuples)
    
    for pair in list_tuples:
        print(pair)
        if x in pair:
            return True
        if y in pair:
            return True
    
    return False


print(add_tuple((14,23)))

14
23
[(23, 12), (1, 3)]
(23, 12)
True

In [26]:
def calcSequence(p1_lat, p1_long, p2_lat, p2_long, p3_lat, p3_long, p4_lat, p4_long, speed, trip1_pu_time, trip2_pu_time, 
                 trip1_do_time, trip2_do_time, delay):
  
    ## p1 - p2 - p3 - p4 / point1 - point2 - point3 - point4
    #within 5 minutes before -2 pickup, and withing 5minutes of after p3 and p4 dropoff
    
    #Keeps track of the total distance everytime distance is added
    totalDistance = 0
    
    # distance between o1 and o2  
    distance = get_distance(p1_lat,p1_long,p2_lat,p2_long)            
    # time it will take to go from o1 to o2
    time = speed/distance            
    # time is in hours so convert to minutes to seconds
    time_seconds = time * 60 * 60                       
    # delay in seconds
    delay_seconds = delay * 60            
    # trip 2 pickupd time range edge
                   
    # [trip2_pickup_edge, trip2_pickup]  
    # [12:55 pm, 1:00 pm]
    # trip1_pickup + time seconds = some time that needs to fall in this range            
    if (trip1_pu_time + time_seconds >= (trip2_pu_time - delay_seconds)) or (trip1_pu_time + time_seconds <= trip2_pu_time):
        # Get the trip1 drop off edge
        # p2 - p3
        totalDistance += distance
        distance = get_distance(p2_lat,p2_long,p3_lat,p3_long)
       
        # time it will take to go from o1 to o2
        time = speed/distance            
        # time is in hours so convert to minutes to seconds
        time_seconds = time * 60 * 60  
        if (trip2_pickup + time_seconds >= (trip1_do_time)) or (trip2_pu_time + time_seconds <= trip1_do_time + delay_seconds):
            totalDistance += distance
            distance = get_distance(p3_lat,p3_long,p4_lat,p4_long)   
            # time it will take to go from o1 to o2
            time = speed/distance            
            # time is in hours so convert to minutes to seconds
            time_seconds = time * 60 * 60  
            if (trip1_do_time + time_seconds >= (trip2_do_time)) or (trip1_do_time + time_seconds <= trip2_do_time  + delay_seconds):
                totalDistance += distance
                return totalDistance
    return -1
        


    # get time range permissible for each origin and dropoff
    # start at o1 check if taxi can make it to o2 within delay

    # i.e. if 5 minute delay then make it within 5 min before o2
    # then have to make it within 5 min after d1 and d2 drop off

    # calculate savings if trip is permissible
    # savings = [distance(trip1) + distance(trip2)] - distance(combined trip1 & trip2)

    # o1 - o2 - d2 - d1

    # o2 - o1 - d1 - d2

    # o2 - o1 - d2 - d1
    


def prototype_algorithm(single_trips, double_trips, delay):
    # columns- 'ride_id', 'pickup_datetime', 'dropoff_datetime', 'pickup_longitude',
    #          'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
    #          'passenger_count', 'trip_distance', 'speed'
    combined_trips = {}
    
    for trip1 in single_trips:        
        for trip2 in double_trips:
            # average speed of two trips
            speed3 = (trip1['speed'] + trip2['speed'])/2
                        
            # possible sequences:
            
            # o1 - o2 - d1 - d2
            
            # o1 - o2 - d2 - d1
            
            # o2 - o1 - d1 - d2
            
            # o2 - o1 - d2 - d1
            o1_lon = trip1['pickup_longitude']
            o1_lat = trip1['pickup_latitude']
            o2_lon = trip2['pickup_longitude']
            o2_lat = trip2['pickup_latitude']
            
            d1_lon = trip1['pickup_longitude']
            d1_lat = trip1['pickup_latitude']
            d2_lon = trip2['pickup_longitude']
            d2_lat = trip2['pickup_latitude']
            
            
            pu1 = trip1['pickup_datetime'].total_seconds()  
            pu2 = trip2['pickup_datetime'].total_seconds() 
            
            
            do1 = trip1['dropoff_datetime'].total_seconds()
            do2 = trip2['dropoff_datetime'].total_seconds() 
            
            
            # o1 - o2 - d1 - d2
            seq1 = calcSequence(o1_lat, o1_long, o2_lat, o2_long, d1_lat, d1_long, d2_lat, d2_long, speed3, pu1, pu2, du1, du2, delay)
            
            # o1 - o2 - d2 - d1
            seq2 = calcSequence(o1_lat, o1_long, o2_lat, o2_long, d2_lat, d2_long, d1_lat, d1_long, speed3, pu1, pu2, du1, du2, delay)
            
            # o2 - o1 - d2 - d1
            seq3 = calcSequence( o2_lat, o2_long, o1_lat, o1_long, d2_lat, d2_long, d1_lat, d1_long, speed3, pu1, pu2, du1, du2, delay)
            
            # o2 - o1 - d1 - d2
            seq4 = calcSequence( o2_lat, o2_long, o1_lat, o1_long, d1_lat, d1_long, d2_lat, d2_long, speed3, pu1, pu2, du1, du2, delay)
            
            totalDistance = trip1['trip_distance'] + trip2['trip_distance']
            
            
            if seq1 < seq2 and seq1 < seq3 and seq1 < seq4 and seq1 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq1
            elif seq2 < seq1 and seq2 < seq3 and seq2 < seq4 and seq2 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq2   
            elif seq3 < seq1 and seq3 < seq4 and seq3 < seq2 and seq3 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq3 
            elif seq4 < seq1 and seq4 < seq2 and seq4 < seq3 and seq4 != -1:
                combined_trips[(trip1['ride_id'], trip2['ride_id'])] = totalDistance - seq4     
            
    return combined_trips